langchain
langchain-core
langchain-community
langchain-openai
langchain-mistralai
openai
mistralai
chromadb
sentence-transformers
tqdm
requests
streamlit
uvicorn
fastapi
numpy
pandas
python-dotenv
tiktoken
lxml
beautifulsoup4
unstructured
pypdf
